.bingo-board {
    background-color: darkgrey;
    border: 3px solid black;
    height: auto;
    width: auto;
    display: inline-flex;
}

.bingo-column {
    display: inline-block;
}

.bingo-box {
    /*Control box size, color, border*/
    background-color: white;
    border: 1px solid black;
    height: 5em;
    width: 5em;
    /*center the text vertically and horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Keep text in the box and show '...' if there is overflow*/
.bingo-text-control {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.free-space {
    font-weight: bold;
    background-color: red;
}

/* Hide the input field so the file button matches the other buttons */
.hide-input {
  visibility: hidden;
  position: relative;
  width: 1px;
  height: 1px;
}